* {
  margin: 0;
}

.App {
  background-color: #fafafa;
  height: 100%;
}

.app__posts {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app__headerImage {
  width: 170px;
  object-fit: contain;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  object-fit: contain;
  display: flex;
  border-bottom: 1px solid lightgray;
  justify-content: space-between;
}

.app__signup {
  display: flex;
  flex-direction: column;
}


.app__posts__profile {
  max-width: 400px;
  object-fit: contain;
  display: flex;
  flex-direction: column;
}

.app__posts__contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__contents {
  display: flex;
  height: 70px;
  flex-direction: row;
  line-height: 70px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.profile__contents__title {
  flex: 30%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  border-right: 1px solid lightgray;
}

.profile__contents__caption {
  flex: 70%;
  text-align: center;
}